@font-face {
    font-family: "defont";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src:
            url("https://hetcdn.nl/fonts/defont.woff2") format("woff2"),
            url("https://hetcdn.nl/fonts/defont.woff") format("woff"),
            url("https://hetcdn.nl/fonts/defont.ttf") format("truetype");
}

:root {
    --font--defont: "defont", system-ui, -apple-system, "Segoe UI", Roboto, Arial, sans-serif;
}

.font--defont {
    font-family: var(--font--defont);
    font-weight: 400;
    font-style: normal;
}